<!DOCTYPE html>
<html>
  <head>
    <title>Rohan Tankala - Audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/home">My Storefront</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/audio">Audio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/storefront">Storefront</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table">Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/video">Video</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <h1>Audio Section</h1>
    <audio controls>
        <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" type="audio/mpeg">
        <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg" type="audio/ogg">
        Your browser does not support the audio element.
    </audio>
    <p>This section showcases an HTML5 audio player. It allows you to listen to the audio track provided using the player controls. I actually don't know what song this is, probably a Beethoven composition. The audio file is in both MP3 and OGG formats, ensuring compatibility with different browsers. Simply press the play button on the audio player to start listening. Enjoy!</p>
    
</body>
</html>
