<!DOCTYPE html>
<html>
<head>
  <title>Storefront</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/storefrontstyles.css">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/home">My Storefront</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/audio">Audio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/list">List</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/storefront">Storefront</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/table">Table</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/video">Video</a>
          </li>
      </ul>
  </div>
</nav>
<body>
    <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 mt-5 pt-3 pb-3 bg-white from-wrapper">
            <div class="container">
              <h3>Welcome to our Storefront!</h3>
              <hr>
              <div id="grocery-cards" class="row"></div>
            </div>
          </div>
        </div>
      </div>
      

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/js/storefront.js"></script>

</body>

</html>
